[run]
source = app
branch = true
omit =
    app/__init__.py
    app/api/__init__.py
    app/core/__init__.py
    app/repository/__init__.py
    app/services/__init__.py
    app/utils/__init__.py

[report]
show_missing = true
skip_covered = false
precision = 1

[html]
directory = htmlcov
